@import "tailwindcss";

:root {
  --color-bg: #fdfaf6;
  --color-text: #1a1a1a;
  --color-accent: #c5a059;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Manrope', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}
